{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">

    <div class="slide kenburns" style="background-image:url({% static 'users/images/parallax-1.jpg' %});">
      <div class="bg-overlay"></div>
      <div class="container">
        <div class="slide-captions text-center text-light">
          <span class="strong">Who we are</span>
          <h1>TEAM PRESENTLY</h1>
        </div>
      </div>
    </div>

</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            <div class="heading-text heading-section">
                <h2>PRESENTLY APP</h2>
            </div>
            </div>
            <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6">The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci
                ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum
                volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque
                ipsum erat, <br> <br> facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!.
                Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!.
                Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel
                dolor. </div>
                <div class="col-lg-6">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. The most
                happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel
                interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true
                story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut
                venenatis eu, sodales vel dolor. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                <br> <br>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="box-fancy section-fullwidth text-light p-b-0">
    <div class="row">
        <div style="background-color:#917d5d" class="col-lg-4">
            <h1 class="text-lg text-uppercase">01.</h1>
            <h3>CONCEPT</h3>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida
            tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A
            true story, that never been told!. </span>
        </div>
        <div style="background-color:#a08c6c" class="col-lg-4">
            <h1 class="text-lg text-uppercase">02.</h1>
            <h3>DEVELOPMENT</h3>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida
            tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A
            true story, that never been told!. </span>
        </div>
        <div style="background-color:#ad9979" class="col-lg-4">
            <h1 class="text-lg text-uppercase">03.</h1>
            <h3>TESTING</h3>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida
            tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A
            true story, that never been told!. </span>
        </div>
    </div>
</section>

<section class="background-grey">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>OUR TEAM</h2>
            <span class="lead">Create amaThe most happiest time of the day!.</span>
        </div>
        <div class="row team-members team-members-shadow m-b-40">
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/6.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Himanshi Shehara</h3>
                        <span>Software Developer</span>
                        <p>Software Engineering Undergraduate at Sri Lanka Institute of Information Technology </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                    <img src="images/team/7.jpg">
                    </div>
                    <div class="team-desc">
                    <h3>Naween Tharuka</h3>
                    <span>UI/UX Engineer</span>
                    <p>Software Engineering Undergraduate at Sri Lanka Institute of Information Technology</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                    <img src="images/team/8.jpg">
                    </div>
                    <div class="team-desc">
                    <h3>Kethmini Rupasinghe</h3>
                    <span>Software Developer</span>
                    <p>Data Science Undergraduate at Sri Lanka Institute of Information Technology</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                    <img src="images/team/9.jpg">
                    </div>
                    <div class="team-desc">
                    <h3>Chathurdi Wedage</h3>
                    <span>Quality Assurance Engineer</span>
                    <p>Data Science Undergraduate at Sri Lanka Institute of Information Technology</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   
{% endblock %}