{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <nav aria-label="breadcrumb mt-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'feedback' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'emotionaudio' %}">Emotion-predictions(Audio)</a></li>
          <li class="breadcrumb-item active" aria-current="page">Prosody Deatil View</li>
        </ol>
    </nav>
    <div class="heading-text heading-section text-center pt-3">
        <h4>Prosody Detail View - Audio</h4>
    </div>
    <div class="line"></div>
    <div class="d-flex">
        <div class="col-8">
            <div class="text-center mb-5">
                <h3 class="font-weight-light">Compared to native speech, here are the prosodic features of your speech:<br /><b>
                <span class="text-rotator">
                Average syllables pause duration,
                Number of long pause,
                Speaking time,
                Average Number of words in minutes,
                Articulation rate,
                Number of words in minutes,
                Formants index,
                Number of detected vowel,
                percentage correct vowel,
                Number of pauses,
                Intonation index,
                (voiced syll count)/(no of pause),
                TOEFL Scale Score,
                Score Shannon index,
                Speaking rate,
                </span></b>
                </h3>
                <p class="mt-3">And any text can be animated simply by changing an effect name, more info in Documentation!</p>
            </div>

            <div class="toggle accordion accordion-shadow mb-5">
                {% for key, value in prosodysum.items %}
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-rocket"></i>{{ key }}</h5>
                        <div class="ac-content">
                            <p class="my-3">{{ value }}</p>
                        </div>        
                    </div>
                {% endfor %}
            </div>    
        </div>   
        <div class="col-4 m-2"> 
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Pronunciation posteriori probability score percentage</B><br/>
                This is the summery of that you are pronunciation level. Get higher value for this. You are good.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Gender recognition and mood of speech</B><br/>
                Available detections are Showing no emotion, speaking passionately and Reading.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Prosodic features of your speech</B><br/>
                You can check other prosodic features from here.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Detect and count number of syllables</B><br/>
                A unit of pronunciation having one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in inferno.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Detect and count number of fillers and pauses</B><br/>
                In speech, filler words are short, meaningless words (or sounds) we use to fill the little pauses that occur while we decide what we're going to say next. They're the ums and uhs and ers that litter our conversations whether we like it or not.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Measure the rate of speech (speed)</B><br/>
                Speech rate refers to a person's habitual speaking speed. It's calculated through counting the normal number of words they say per minute, and just like people, words per minute (wpm) can vary hugely
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Measure the articulation (speed)</B><br/>
                Articulation is how clearly the speaker pronounces words. 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Measure speaking time</B><br/>
                From total duration This is your total speaking time.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <B>Measure fundamental frequency distribution mean</B><br/>
                These are fundamental values. If you are aware about these values, use these.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}
