{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    
    <div class="heading-text heading-line text-center mt-5">
        <h4>Slide Quality Checker</h4>
    </div>

    <div class="carousel mt-4" data-items="3" data-dots="false" data-lightbox="gallery">

        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/1-1.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/1-1.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>


        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/2-3.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/2-3.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>


        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/3-4.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/3-4.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>


        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/4-4.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/4-4.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>


        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/5-8.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/5-8.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>


        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/6-7.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/6-7.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/7-2.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/7-2.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/8-4.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/8-4.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/9-4.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/9-4.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="{% static 'users/images/10-4.jpg' %}" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="{% static 'users/images/10-4.jpg' %}"
                        class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>

    </div>

    <div class="line"></div>

    <div class="row team-members team-members-card m-b-40">
        <div class="col-lg-4">
            <div class="team-member">
                <!-- <div class="team-image">
                    <img src="images/team/6.jpg">
                </div> -->
                <div class="team-desc my-3">
                    <h3>Color Accuracy</h3>
                    <p>Color accuracy conveys the true meaning of a motion picture or image</p>
                    <a href="{% url 'colorcube' %}" class="btn btn-outline btn-rounded">Check</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <!-- <div class="team-image">
                    <img src="images/team/6.jpg">
                </div> -->
                <div class="team-desc my-3">
                    <h3>Grammar & visibility Checker</h3>
                    <p>Will find each sentence in a text, look up each word in the dictionary</p>
                    <a href="http://127.0.0.1:5000/" class="btn btn-outline btn-rounded">Check</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <!-- <div class="team-image">
                    <img src="images/team/6.jpg">
                </div> -->
                <div class="team-desc my-3">
                    <h3>Accessibility Checker</h3>
                    <p>Accessibility not check for poor color contrast or inappropriate use of color</p>
                    <a href="http://173.82.175.218:3000/" class="btn btn-outline btn-rounded">Check</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}