{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    
    <div class="heading-text heading-line text-center mt-5">
        <h4>Slide Quality Checker</h4>
    </div>

    <div class="line"></div>

    <div class="row team-members team-members-card m-b-40">
        <div class="col-lg-4">
            <div class="team-member">
                <div class="team-desc my-3">
                    <h3>Color Accuracy</h3>
                    <p>Color accuracy conveys the true meaning of a motion picture or image</p>
                    <a href="https://chithuwedage.github.io/research/" class="btn btn-outline btn-rounded">Check</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <div class="team-desc my-3">
                    <h3>Grammar & visibility Checker</h3>
                    <p>Will find each sentence in a text, look up each word in the dictionary</p>
                    <a href="http://127.0.0.1:5000/" class="btn btn-outline btn-rounded">Check</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <div class="team-desc my-3">
                    <h3>Accessibility Checker</h3>
                    <p>Accessibility not check for poor color contrast or inappropriate use of color</p>
                    <a href="https://chithuwedage.github.io/contrast-checker/" class="btn btn-outline btn-rounded">Check</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}