{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2> </h2>

    <!-- {% for key, value in var2.items %}
            <h2>{{ forloop.counter }}. {{ key }} : {{ value }}</h2>
        {% endfor %} -->
    
    <!-- <div class="container">
        <div class="heading-text heading-line text-center mt-5">
            <h4>Summery of emotions</h4>
        </div>

        <div class="text-center py-4">
            <h2>The Most Used Emotion for this session: <span style="color:rgb(25, 143, 216)">{{ maxemotion }}</span></h2>
        </div>    

        <div class="row pb-5">
            {% for key, value in predictions.items %}
            
                <div class="col-lg-3 text-center"> <span class="pie-chart" data-percent="{{ value }}"> <span
                    class="percent"></span> </span>
                    <h4>{{ key }}</h4>
                    <p>{{ value }}</p>
                </div>
            {% endfor %}
        </div>
        <hr/>          
    
    </div> -->
{% endblock %}